@model IEnumerable<moment32.Models.User>

@{
    ViewData["Title"] = "Anv채ndare";
}

<h1>Anv채ndare</h1>

<p>
    <a asp-action="Create" class="btn">Skapa ny anv채ndare</a>
</p>
<section>
    <h2>Alla anv채ndare</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId" class="btn">Redigera</a>
                    <a asp-action="Details" asp-route-id="@item.UserId" class="btn">Detaljer</a>
                    <a asp-action="Delete" asp-route-id="@item.UserId" class="btn">Ta bort</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</section>

